node_modules
bazel-out
docker_cache
!.gitkeep
dist

example/**/*.srcjar
example/**/git_push.sh
example/**/.gitignore
example/**/.swagger-codegen
example/**/.swagger-codegen-ignore
example/**/README.md