node_modules
bazel-out

dist
!dist/.git-keep

proto_swagger_gen_out/**/*.srcjar
proto_swagger_gen_out/**/git_push.sh
proto_swagger_gen_out/**/.gitignore
proto_swagger_gen_out/**/.swagger-codegen
proto_swagger_gen_out/**/.swagger-codegen-ignore
proto_swagger_gen_out/**/README.md